<section class="hero is-fullheight is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Primary bold title
        </h1>
        <br>
        <h2 class="subtitle">
            <p>HTML5</p>
            <progress class="progress is-danger" value="90" max="100">90%</progress>
            <p>CSS3</p>
            <progress class="progress is-link" value="75" max="100">30%</progress>
            <p>JavaScript</p>
            <progress class="progress is-warning" value="50" max="100">75%</progress>
        </h2>
      </div>
    </div>
  </section>